<li{% if page.url == '/' %} class="active"{% endif %}><a href="{{ site.prefix }}index.html">Home</a></li>
<li{% if page.url == '/mitgliedschaft.html' %} class="active"{% endif %}><a href="{{ site.prefix }}mitgliedschaft.html">Mitgliedschaft</a></li>
<li{% if page.url == '/ueber-uns.html' %} class="active"{% endif %}><a href="{{ site.prefix }}ueber-uns.html">Über uns</a></li>
<li{% if page.url == '/funktionsweise.html' %} class="active"{% endif %}><a href="{{ site.prefix }}funktionsweise.html">Funktionsweise</a></li>
<li{% if page.url == '/kontakt.html' %} class="active"{% endif %}><a href="{{ site.prefix }}kontakt.html">Kontakt</a></li>
<li{% if page.url == '/faq.html' %} class="active"{% endif %}><a href="{{ site.prefix }}faq.html">FAQ</a></li>

